//
// Mixins
// ------------------------------

$darkBg: linear-gradient(136deg, #001358, #125ac4);

// Utilities

@mixin size($width, $height)
{
	width: $width;
	height: $height;
}
@mixin square($size)
{
	@include size($size, $size);
}
@mixin border-top-radius($radius)
{
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin border-right-radius($radius)
{
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius)
{
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius)
{
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

// Vendor Prefixes

@mixin animation($animation)
{
	-webkit-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}
@mixin box-sizing($boxmodel)
{
	-webkit-box-sizing: $boxmodel;
	-moz-box-sizing: $boxmodel;
	box-sizing: $boxmodel;
}

@mixin darkGradientBg() {
  color: #fff;
  background-image: $darkBg;
}

@mixin darkBg() {
  //background-image: url('/static/svgs/other/mybit-background.svg'), $darkBg;
  background-image: $darkBg;
  background-repeat: no-repeat;
  background-position: -40% 0%;
  background-size: 100%, 100%;
  color: #fff;
}

@mixin lightGradientBg($position) {
  color: #273469;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: radial-gradient($position, #82a8e0 -100%, #fff 40%);
}

@mixin cardContainer() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin bit() {
  display: block;
  position: relative;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fb3448;
  transform: translate(-50%, 0%) rotate(45deg);
  left: 50%;
}

@mixin diamond() {
  transform: rotate(45deg);
}

@mixin media() {
  width: 536px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

@mixin highlight() {
  @include media();
  box-shadow: 20px 10px 60px -10px rgba(15, 53, 90, 0.5);
}

@mixin card() {
  font-family: Roboto;
  p {
    font-size: 16px;
    line-height: 1.75;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
}

@mixin cardTitle() {
  font-family: Gilroy;
  font-size: 40px;
  line-height: 2.0;
  font-weight: 800;
  font-style: normal;
  position: relative;

  &:after {
    @include bit();
  }
}

@mixin testAlphButton(){
  text-align: center;
  width: max-content;
  position: relative;
  display: block;
  margin: 0 auto;

  & button{
    background: linear-gradient(to left, #24F281, #0083FF) !important;
    color: #ffffff;
    box-shadow: none;
    border: 0px;
  
    &:focus,
    &:active,
    &:hover{
      border-image: linear-gradient(120deg, #24f281, #0083ff) 1;
      border-style: solid;
      border-width: 2px;
      background: transparent !important;
      margin: 0px;

      & span{
        background-image: -webkit-linear-gradient(to right, #24F281, #0083FF) !important;
        background-image: linear-gradient(to right, #24F281, #0083FF) !important;
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
    }
  }
}
