language: node_js
node_js:
  - "8"
cache:
  directories:
  - node_modules
yarn: true
before_script: yarn build
script:
  - GIT_HASH=$(git rev-parse --short HEAD)
  - echo ${GIT_HASH} > build/version
  - BUILD_URL=$(npx now --name mybit.io build -t $NOW_PROD_TOKEN)
  - if [ "$TRAVIS_BRANCH" = "develop" ]; then npx now alias ${BUILD_URL} develop.mybit.io -t $NOW_PROD_TOKEN; fi
  - if [ "$TRAVIS_BRANCH" = "develop" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npx now alias ${BUILD_URL} staging.mybit.io -t $NOW_PROD_TOKEN; fi
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npx now alias ${BUILD_URL} mybit.io -t $NOW_PROD_TOKEN; fi
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npx now alias ${BUILD_URL} www.mybit.io -t $NOW_PROD_TOKEN; fi
