@import 'include-media/dist/_include-media.scss';

.Container {
    display: flex;
    width: 100%;
    margin: auto;
}
.Container__wrapper {
    margin: auto;
    width: 100%;
    position: relative;
    height: 1200px;

    .Container--is-styled-short & {
      height: 600px;
    }

    &--is-investor{
      margin-left: -6%;

      @include media(">=1124px") {
          margin-left: -8%;
      }

      @include media(">=1324px") {
          margin-left: -11%;
      }

      @include media(">=1424px") {
          margin-left: -13%;
      }

      @include media(">=1524px") {
          margin-left: -14%;
      }

      @include media(">=1624px") {
          margin-left: -15%;
      }

      @include media(">=1720px") {
          margin-left: -16%;
      }
    }

    &--is-asset-manager{
      margin-left: 6%;
      padding-left: 6%;

      @include media(">=1224px") {
          margin-left: 8%;
          padding-left: 8%;
      }

      @include media(">=1324px") {
          margin-left: 11%;
          padding-left: 11%;
      }

      @include media(">=1424px") {
          margin-left: 13%;
          padding-left: 13%;
      }

      @include media(">=1524px") {
          margin-left: 14%;
          padding-left: 14%;
      }

      @include media(">=1624px") {
          margin-left: 15%;
          padding-left: 15%;
      }

      @include media(">=1724px") {
          margin-left: 16%;
          padding-left: 6%;
      }

      @include media(">=1824px") {
          margin-left: 16%;
          padding-left: 15%;
      }
    }
}

.Container--is-styled-short,
.Container--has-centered-diamond {
    position: relative;
    width: 100%;
    height: 600px;

    .Container__helper-center {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: visible;
        bottom: 0;
        right: 0;
        left: 0;
        top: 100vh;
        margin: auto;
        z-index: -2;

        &--is-styled-short {
          top: -100%;

          .before {
            background: none !important; /* Specifity not working on pseudo  */
          }
        }

        .before {
            content: '';
            position: absolute;
            width: 1300px;
            height: 1300px;
            background: radial-gradient(ellipse at top left, #001358, #125ac4 20%, transparent 63%);
            top: 35%;
            left: 50%;
            transform: translate(-50%,0%) rotate(45deg);

            &:before{
              content: "";
              position: absolute;
              width: 328px;
              height: 328px;
              top: -1%;
              left: -1%;
              z-index: 2;
              background: url(/static/svgs/other/mybit-background.svg) 0 0 no-repeat;
              transform: rotate(-45deg);
            }
        }
    }
}

.Container--is-styled-short {
    .Container__helper-right-wrapper,
    .Container__helper-left-wrapper {
      margin-bottom: -10%;
    }
}


.Container--is-styled,
.Container--is-styled-short {
    position: relative;
    width: 100%;
    height: 600px;

    .Container__helper-left {
        left: 0;
        .before {
            transform-origin: 0 100%;
            transform: rotate(-45deg);
            left: 0;
        }
    }

    .Container__helper-right {
        right: 0;
        .before {
            transform-origin: 100% 100%;
            transform: rotate(45deg);
            right: 0;
        }
    }

    .Container__helper-center-wrapper {
        width: 100%;
        height: 100%;
        margin-top: -25%;
        display: inline-block;
    }

    .Container__helper-right-wrapper,
    .Container__helper-left-wrapper {
        height: 100%;
        width: 100%;
        display: inline-block;
        cursor: pointer;
        &:hover .before {
          border-image: linear-gradient(120deg, #24f281, #0083ff) 1;
          border-style: solid;
          border-width: 10px;
        }
    }

    .Container__helper-left,
    .Container__helper-right {
        z-index: -1;
        width: 100%;
        padding-bottom: 70.92%; /* = width / 1.41 */
        position: absolute;
        overflow: hidden;
        bottom: 0;
        top: 0;


        &--is-styled-short {
          margin: auto;
          padding-bottom: 0;

          .before {
             top: 40% !important; /* For some reasons specifity doesn't */
          }
        }

        .before {
            content: '';
            position: absolute;
            background: linear-gradient(136deg, #001358, #125ac4);
            width: 840px;
            height: 840px;
            transform-origin: 50% 50%;
            top: 16%;
            left: auto;
            right: 79%;
            transform: scale(1.1) rotate(45deg);
        }
    }

    .Container__helper-right .before{
        left: 79%;

    }
}

.Container--is-styled {
    .Container__helper-center-wrapper {
      height: 0%;
    }
}

