@import '../../styles/colors.scss';
@import 'include-media/dist/_include-media.scss';

.Wrapper {
    display: flex;
    width: 100%;
    padding: 0 5rem;
    background-color: $light-background-text-color;
    margin: auto;
    @include media("<tablet") {
        padding: 0 1.4rem;
    }
}
.Wrapper__container {
    max-width: 1170px;
    margin: auto;
    width: 100%;
}
.Wrapper--is-main {
    background-image: url(./static/assets/triangles-large.png), url(./static/assets/triangles-small.png), url(./static/assets/landing-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 50%, 50% 50%, 0 0;
    background-size: 30%, 104%, cover;
    background-attachment: fixed;
    transform: translate3d(0,0,0);
    will-change: transform;
}
.Wrapper--is-gray {
    background-color: #F8F9FA;
}
.Wrapper--is-light {
    background-color: $light-background-color;
}
.Wrapper--is-white {
    background-color: $text-color;
}