@import '../../styles/colors.scss';
@import 'include-media/dist/_include-media.scss';

.Wrapper {
    display: flex;
    width: 100%;
    padding: 0 5rem;
    background-color: $light-background-text-color;
    margin: auto;
    @include media("<tablet") {
        padding: 0 1.4rem;
    }
}
.Wrapper__container {
    max-width: 1170px;
    margin: auto;
    width: 100%;
}
.Wrapper--is-main {
    background-image: radial-gradient(circle at 52% 50%, #6d68a0, #3b3766);
}
.Wrapper--is-light {
    background-color: $light-background-color;
}
.Wrapper--is-white {
    background-color: $text-color;
}