.AccessLayer{

  padding: 0px 5%;
  max-width: 1450px;
  margin: 0 auto;

  &__media{
    padding-top: 50px;
  }

  &__media-desc{
    width: 100%;
    margin: 0 auto;
  }

  &__media-image{
    max-width: 260px;
    position: relative;
    top: 20%;
  }

  &__text{
    font-family: 'Roboto';
    font-size: 16px;
    color: #273469;
    display: block;
  }

  &__exchanges-img{
    height: 70px;
    padding-bottom: 20px;
  }

  &__media-desc-wrapper{
    padding-right: 10%;
  }
}

.AccessLayer .Media__card{
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
}

.AccessLayer .Media__card::nth-child(1){
  padding-right: 10%;
}

.AccessLayer .Media__card p{
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .AccessLayer{

    &__media{
      padding-top: 0px;
    }

    &__media-image-wrapper{
      order: 1;
      flex-basis: 100% !important;
      max-width: 100% !important;
    }

    &__media-image{
      width: 100%;
      margin: 0 auto;
      height: 260px;
      max-width: unset;
    }

    &__media-desc-wrapper{
      order: -1;
      flex-basis: 100% !important;
      max-width: 100% !important;
      padding-right: 0px;
    }

    &__exchanges{
      margin-top: 40px;
    }
  }

  .AccessLayer .Media__card{
    padding: 0px 0px;
  }

}
