@import 'select/mixins.scss';
@import 'include-media/dist/_include-media.scss';

$achievement_start: 168px;
$connector_width: 72px;

.Achievements {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 70px;
  padding-bottom: 70px;
  overflow: hidden;
  justify-content: center;
  padding-left: 0px;


  &__list-item {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    background-image: linear-gradient(85deg, #001358, #125ac4);
    box-shadow: -14px 16px 50px 0 rgba(112, 112, 112, 0.5);
    border-style: solid;
    border-width: 9px;
    border-image: linear-gradient(120deg, #001358, #125ac4) 1;

    &:hover {
      border-image: linear-gradient(120deg, #24f281, #0083ff) 1;
    }

    &:not(:last-child):after {
      position: absolute;
      content: '';
      height: 10px;
      width: $connector_width;
      background-image: linear-gradient(85deg, #001358, #125ac4);
    }

    &:nth-child(odd):after {
      top: -50px;
      left: 40px;
      transform: rotate(90deg);
    }

    &:nth-child(even):after {
      top: 75px;
      left: 188px;
    }

    &:nth-child(odd) {
      margin-top: $achievement_start;
    }

    &--wrapper {
      transform: rotate(-45deg);
      width: 100%;
      height: 100%;
      text-align: center;
      top: 13px;
      position: relative;
      left: 13px;
    }

    &--title {
      display: block;
      font-size: 24px;
      font-weight: 800;
      color: #fff;
      position: relative;
      top: 20px;

      &:after {
        @include bit();
        left: 50%;
        top: 13px;
      }
    }

    &--description {
      color: #fff;
      font-size: 14px;
      display: block;
      position: relative;
      top: 51px;
    }

  }


  @include media("<1550px") {

    padding-left: 350px;
    width: 1190px;

   .Achievements__list-item:nth-child(2){
      position: relative;
      top: 0px;
    }

   .Achievements__list-item:nth-child(3){
      position: relative;
      top: -26px;
      left: -58px;
    }

   .Achievements__list-item:nth-child(4){
      position: relative;
      top: 1px;
      left: -117px;
    }
   .Achievements__list-item:nth-child(5){
      position: relative;
      top: -25px;
      left: -175px;
    }
   .Achievements__list-item:nth-child(6){
      position: relative;
      top: 3px;
      left: -235px;
    }
   .Achievements__list-item:nth-child(7){
      position: relative;
      top: -23px;
      left: -293px;
    }
   .Achievements__list-item:nth-child(8){
      position: relative;
      top: 4px;
      left: -352px;
    }
    .Achievements__list-item:after{
      display: none;
    }

    .Achievements__list-item{
      box-shadow: none;
      background-image: linear-gradient(0deg, #001358, #125ac4);
      border-image: linear-gradient(0deg, #001358, #125ac4) 1;
      &:hover{
        border-image: linear-gradient(120deg, #24f281, #0083ff) 1;
      }
    }
  }

  @include media("<1172px") {

    padding: 0px 0px;
    padding-top: 321px;
    width: 600px;
    height: 1163px;
    flex-direction: column;
    align-items: center;
    margin-left: -15px;

    .Achievements__list-item{
      margin: 0px 0px;
    }


   .Achievements__list-item:nth-child(2){
      position: relative;
      top: 0px;
      left: -60px;
    }

   .Achievements__list-item:nth-child(3){
      position: relative;
      top: -58px;
      left: 82px;
    }

   .Achievements__list-item:nth-child(4){
      position: relative;
      top: -117px;
      left: -59px;
    }
   .Achievements__list-item:nth-child(5){
      position: relative;
      top: -175px;
      left: 83px;
    }
   .Achievements__list-item:nth-child(6){
      position: relative;
      top: -234px;
      left: -58px;
    }
   .Achievements__list-item:nth-child(7){
      position: relative;
      top: -292px;
      left: 84px;
    }
   .Achievements__list-item:nth-child(8){
      position: relative;
      top: -351px;
      left: -57px;
    }
    .Achievements__list-item:after{
      display: none;
    }
  }

}


.Achievements__container{
  @include media("<1550px") {
    display: flex;
    justify-content: center;
  }
}
