@import 'select/mixins.scss';

$achievement_start: 168px;
$connector_width: 72px;

.Achievements {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 150px;
  overflow-y: scroll;

  &__list-item {
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    background-image: linear-gradient(85deg, #001358, #125ac4);
    box-shadow: -14px 16px 50px 0 rgba(112, 112, 112, 0.5);
    border-style: solid;
    border-width: 9px;
    border-image: linear-gradient(120deg, #001358, #125ac4) 1;

    &:hover {
      border-image: linear-gradient(120deg, #24f281, #0083ff) 1;
    }

    &:not(:last-child):after {
      position: absolute;
      content: '';
      height: 10px;
      width: $connector_width;
      background-image: linear-gradient(85deg, #001358, #125ac4);
    }

    &:nth-child(odd):after {
      top: -50px;
      left: 40px;
      transform: rotate(90deg);
    }

    &:nth-child(even):after {
      top: 75px;
      left: 188px;
    }

    &:nth-child(odd) {
      margin-top: $achievement_start;
    }

    &--wrapper {
      transform: rotate(-45deg);
    }

    &--title {
      display: block;
      font-size: 24px;
      font-weight: 800;
      color: #fff;
      position: relative;
      top: 20px;

      &:after {
        @include bit();
        left: 37px;
        top: 10px;
      }
    }

    &--description {
      color: #fff;
      font-size: 14px;
      display: block;
      position: relative;
      top: 40px;
      width: 80%;
    }

  }

}
