@import 'include-media/dist/_include-media.scss';

.ArrowButton{
  cursor: pointer;
  width: 46px;
  height:46px;
  background: linear-gradient(136deg, #125ac4, #001358);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  transition: all 0.25s;
  box-shadow: none;
  border: none;
  padding: 0px 0px;
  border-radius: 0px;
  outline: none;

  &:focus{
    outline: none;
  }

  &:hover{
    opacity: 1;
    outline: none;
    transition: opacity 0.25s;
    background-color: transparent;
    border: none;
  }

  &__arrow{
    width: 0px;
    height: 0px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid white;
  }

  &--is-full-opacity{
    opacity: 1;
  }

  &--is-disabled{
    cursor: default;
    opacity: 0;
    transition: opacity 0.25s;

    &:hover{
      opacity: 0;
    }
  }

  &--is-big{
    width: 95px;
    height: 394px;

    @include media("<desktop") {
      height: 300px;
    }
  }
}
