.Background-video{
    width: 59.09%;
    margin: 0px 0px;
    position: absolute;
    right: 0px;
    max-width: 851px;
    top: 0px;

    &__image{
      width: 100%;
      position: relative;
      z-index: -1;

      &--is-video-open{
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
      }
    }

    &__wrapper{
      position: relative;
    }
}

@media only screen and (max-width: 1023px) {

  .Background-video{
    height: auto;
    width: 100%;
    position: relative;
    max-width: auto;
    top: auto;

    &__image{
      display: none;
    }
  }
}
