.Background-video{
    height: 1170px;
    background-size: cover;
    width: 59.09%;
    margin: 0px 0px;
    position: fixed;
    right: 0px;
    max-width: 851px;
    top: 0px;

    &__image{
      width: 100%;
    }

    &__wrapper{
      position: relative;
    }
}

@media only screen and (max-width: 576px) {
  .Background-video{
    height: auto;
    width: 100%;
    position: relative;
    max-width: auto;
    top: auto;

    &__image{
      display: none;
    }
  }
}
