$button: #273469;

.Button {
  color: #fff;
  min-width: 135px;
  height: 38px;
  background-color: $button;
  box-shadow: 0 9px 20px 0 #172e45;
  border: 1px solid transparent;
  font-weight: bold;
  transition: background-color 0.2s;

  &:hover, &:focus {
    cursor: pointer;
    border: 1px solid $button;
    color: $button;
    background-color: #fff;
  }

}

.dark .Button {
  color: #273469;
  background-color: #fff;
  &:hover,
  &:focus {
    color: #fff;
    background-color: $button;
  }
}
