@import '../styles/colors.scss';

.Card {
    border-radius: 5px;
    background-color: $section-background-color;
    width: 100%;
    color: $light-background-text-color;
    padding: 50px 75px;
    box-shadow: 0 1px 3px 0 rgba(32, 33, 39, 0.12);
    margin-bottom: 25px;
}

.Card__title {
    font-size: 36px;
    font-weight: 100;
    margin: 0;
}

.Card__paragraph {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 0;
}

.Card__image {
    margin-left: auto;
    display: inline-block;
  	position: relative;
  	padding: 0;
  	vertical-align: middle; 
  	overflow: hidden;
  	max-width: 100%;
}
.Card__image--is-machine-era {
    width: 496.7px;
    
}
.Card__image--is-future-of-investing {
    width: 462.7px;
 
}
.Card__image--is-mybit-token {
    width: 460.5px;
    
}
.Card .col-sm-12 {
    width: 100%;
}