@import '../styles/typography.scss';
@import '../styles/colors.scss';
@import 'include-media/dist/_include-media.scss';

.Card {
    border-radius: 5px;
    background-color: $section-background-color;
    width: 88%;
    @include media('<desktop') {
        width: 95%;
        text-align: center;
    }
    color: $light-background-text-color;
    padding: 35px 30px;
    box-shadow: 0 1px 3px 0 rgba(32, 33, 39, 0.12);
    margin: 0 auto 25px auto;
    @include media('<tablet') {
        padding: 15px 25px;
    }
    
    &__col--is-future-of-investing {
        @include media('<desktop') {
            order: 2;
        }
    }
    
    &__col--is-left {
        text-align: right;
        @include media('<desktop') {
            text-align: center;
        }
    }
    &__image {
    margin-left: auto;
    display: block;
  	position: relative;
  	padding: 0;
  	vertical-align: middle; 
  	overflow: hidden;
  	max-width: 100%;
      	&--is-machine-era {
            width: 100%;
        }
        &--is-future-of-investing {
            width: 100%;
        }
        &--is-mybit-token {
            width: 80%;
            margin: auto;
        }
        @include media('<tablet') {
            margin: auto;
        }
    }
    & .col-sm-12 {
        width: 100%;
    }
    &__title {
        @extend %superior;
        font-weight: 100;
        margin: 0;
    }

    &__paragraph {
        @extend %inferior;
        line-height: 1.25;
        margin-bottom: 0;
        &-link {
            text-decoration: none;
            color: $button-color;
        }
        &--is-machine-era {
            
        }
        &--is-future-of-investing {
            
        }
        &--is-mybit-token {
            width: 106%;
            @include media('<desktop') {
                width: 100%;
            }
        }
    }
    
    b {
        font-weight: 900;
    }
}



