.Column-list {

  list-style: none;
  padding-left: 0;
  font-family: 'Roboto';
  font-size: 13px;

  &__link {
    text-decoration: none;
    line-height: 2.15;
    color: #fff;
    &--is-inactive {
      color: #aaa;
    }
  }

}
