@import 'include-media/dist/_include-media.scss';

.Events-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;

  @include media('<=phone') {
    padding-top: 130px;
    padding-bottom: 150px;
    margin-top: -100px;
  }

  @include media('<tablet') {
    padding-top: 170px;
    padding-bottom: 160px;
    margin-top: -100px;
  }

  @include media('>=tablet') {
    padding-top: 160px;
    padding-bottom: 160px;
    margin-top: -110px;
  }

  @include media('>=desktop') {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0;
  }

  background: linear-gradient(-3deg, transparent 12%, #125AC3 1%, #001358 89%, #125ac4 0%, transparent 11%);
  background-repeat: no-repeat;
}

.Event {
  color: #fff;
  margin: 0 40px 40px;
  font-family: 'Roboto';

  &--title {
    font-family: Gilroy;
    font-size: 40px;
    margin-left: 16px;
  }

  &__container {
    margin: 0 0 20px;
    position: relative;
  }

  figcaption {
    position: absolute;
    font-size: 13px;
    bottom: 30px;
    left: 30px;
    max-width: 90%;
  }

  img {
    width: 100%;
    border: 3px solid transparent;
    border-image: none;
    &:hover {
      border-image: linear-gradient(120deg, #24f281, #0083ff) 1;
    }
  }

  @include media('<=phone') {
    figcaption {
      position: relative;
      bottom: auto;
      left: auto;
    }
  }

  @include media('<desktop') {
    width: 80%;
  }

  @include media('>=desktop') {
    width: 35%;
  }

}
