@import '../styles/typography.scss';
@import '../styles/colors.scss';
@import 'include-media/dist/_include-media.scss';

.Footer {
    margin: 80px auto;
    line-height: 1.6;
    @include media("<desktop") {
        margin: 40px auto;
    }
    &__member {
        @include media("<desktop") {
            margin: auto;
            display: block;
            width: 60%;
        }
        padding: 40px 0;
        width: 100%;
        &-area {
            @include media("<desktop") {
                padding: 20px 0;
            }
        }
        &-wrapper {
            display: flex;
            height: 100%;
            align-items: center;
        }
        &--is-cvl {
            width: 50%;
            margin-right: auto;
        }
        &--is-cva {
            width: 75%;
            margin-left: auto;
        }
    }
    &__signup {
        @extend %subtitle;
        margin-top: 0;
        margin-bottom: 10px;
        &-text {
            font-weight: 100;
            font-size: 0.8em;
            letter-spacing: 1px;
        }
    }
    &__subscribe-wrapper {
        margin: auto;
        margin-bottom: 50px;
        @include media("<desktop") {
            text-align: center;
        }
        &--is-right {
            text-align: right;
            @include media("<desktop") {
                text-align: center;
            }
        }
        &--is-last {
            margin-bottom: 0;
        }
    }
    &__footer {
        &-link-title {
            margin-bottom: 5px;
        }
        &-links {
            margin: 10px 0;
            @include media("<desktop") {
                text-align: center;
            }
        }
        &-link-title, &-link-href {
            display: block;
            letter-spacing: 1.6px;
            font-size: 0.8em;
        }
        &-link-href {
            font-weight: 100;
            text-decoration: none;
            color: $text-color;
        }
    }
    &__impressum {
        font-size: 0.8em;
        font-weight: 100;
        letter-spacing: 1px;
        display: block;
        padding-bottom: 10px;
        &--is-right {
            text-align: right;
        }
        a {
            text-decoration: none;
            font-weight: 900;
            color: $text-color;
        }
        @include media("<desktop") {
            text-align: center;
        }
    }
}
