@import '../styles/typography.scss';
@import '../styles/colors.scss';
@import 'include-media/dist/_include-media.scss';

.Footer {
    width: 100%;
    margin: 80px auto;
    line-height: 1.6;
    @include media("<tablet") {
        margin: 40px auto;
    }
    &__signup {
        @extend %subtitle;
        margin-top: 0;
        margin-bottom: 10px;
        &-text {
            font-weight: 100;
            font-size: 0.8em;
            letter-spacing: 1px;
        }
    }
    &__subscribe-wrapper {
        margin: auto;
        margin-bottom: 50px;
        &--is-right {
            text-align: right;
        }
    }
    &__footer {
        &-link-title {
            margin-bottom: 5px;
        }
        &-link-title, &-link-href {
            display: block;
            letter-spacing: 1.6px;
            font-size: 0.8em;
        }
        &-link-href {
            font-weight: 100;
            text-decoration: none;
            color: $text-color;
        }
    }
    &__impressum {
        font-size: 0.8em;
        font-weight: 100;
        letter-spacing: 1px;
        display: block;
        padding-bottom: 10px;
        &--is-right {
            text-align: right;
        }
        a {
            text-decoration: none;
            font-weight: 900;
            color: $text-color;
        }
        @include media("<tablet") {
            text-align: center;
        }
    }
}