.Header {
  position: absolute;
  padding-top: 39px;
  width: 100%;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 6.28%;

  &__logo{
    float: left;
  }
}


@media only screen and (max-width: 576px) {
   .Header {
    position: absolute;
    padding-top: 0px;
    width: 100%;
    z-index: 2;

    &__logo{
      float: left;
      padding-left: 6.28%;
      width: 100px;
    }
  }
}
