@import 'include-media/dist/_include-media.scss';

.HeroParagraph{
  padding-top: 27px;
  width: 90%;
  text-align: center;
  height: 84px;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.75;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin: auto;

  @include media(">=desktop") {
    text-align: left;
    width: 75%;
    margin-left: 0;
    margin-right: 0;
  }

  &__bit {
    display: flex;
    justify-content: center;
    @include media(">=desktop") {
      justify-content: flex-start;
    }
  }

  &__text-header,
  &__text {
    color: #273469;
  }

  &__text-header{
    padding-top: 26px;
    display: block;
  }
  &__text{
    margin: 0px;
  }
}

.Paragraph .Bit{
  position: relative;
  width: 11px;
  height: 11px;
  left: 5px;
}


@media only screen and (max-width: 1320px) {
    .Paragraph {
        width: 370px;
    }
}


@media only screen and (max-width: 1140px) {
    .Paragraph {
      font-size: 14px;
      line-height: 26px;
      width: 350px;
    }
}

@media only screen and (max-width: 1050px) {
    .Paragraph {
      font-size: 14px;
      line-height: 26px;
      width: 320px;
      padding-top: 10px;

      &__text-header{
        padding-top: 16px;
      }
    }
}

@media only screen and (max-width: 1020px) {
    .Paragraph {
      width: 270px;
    }
}

@media only screen and (max-width: 940px) {
  .Paragraph{
    font-size: 14px;
    line-height: 26px;
    width: 222px;
    padding-top: 17px;

    &__text{
      width: 179px;
    }
  }
}

@media only screen and (max-width: 800px) {
    .Paragraph {
        width: 335px;
        text-align: center;
        font-size: 15px;
        line-height: 21px;
        margin: 0 auto;

        &__text{
          width: 100%;
        }
    }

    .Paragraph .Bit{
      left: 0px;
      margin: 0 auto;
    }
}

@media only screen and (max-width: 520px) {
    .Paragraph {
        width: 100%;
        text-align: center;
        font-size: 13px;
        line-height: 19px;

        &__text-header{
          width: 60%;
          margin: 0 auto;
        }

        &__text{
          width: 70%;
          margin: 0 auto;
          text-align: inherit;
        }
    }
}
