@import '../styles/typography.scss';
@import 'include-media/dist/_include-media.scss';

.Hero {
    text-align: center;
    width: 100%;
    margin-bottom: 5em;
    &__title {
        @extend %title;
    }
    &__subtitle {
        @extend %subtitle;
    }
    &__subscribe-tagline {
        letter-spacing: 0.7px;
        font-weight:100;
        display: block;
        @include media("<tablet") {
            margin-top: 20px;
        }
    }
}