.HeroBanner{
  height: 0px;
  margin: 0 auto;
  position: relative;

  &__text-wrapper{
    padding-left: 8.194%;
    position: relative;
    top: 238px;
    width: max-content;
  }

  &__img-wrapper{
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -2;
    left: 0px;
  }

}

@media only screen and (max-width: 1360px) {
  .HeroBanner__text-wrapper{
   padding-left: 5%;
  }
}

@media only screen and (max-width: 1220px) {
  .HeroBanner__text-wrapper{
   top: 190px;
  }
}

@media only screen and (max-width: 940px) {
  .HeroBanner__text-wrapper{
   top: 140px;
  }
}

@media only screen and (max-width: 760px) {
  .HeroBanner__text-wrapper{
    padding-top: 50px;
  }
}

@media only screen and (max-width: 760px) {
  .HeroBanner__text-wrapper{
    padding-top: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .HeroBanner__text-wrapper{
    padding-top: 0px;
    padding-left: 0px;
    top: 112px;
    width: 100%;
  }

  .HeroBanner__img-gradient{
    width: 130%;
    height: 750px;
  }
}

@media only screen and (max-width: 460px) {
  .HeroBanner__img-gradient{
    width: 165%;
    height: 600px;
  }
}


//TODO remove
body{
  margin: 0px 0px;
}
