@import '../styles/typography.scss';
@import 'include-media/dist/_include-media.scss';

.Hero {
    text-align: left;
    width: 100%;
    margin-bottom: 4em;
    @include media("<tablet") {
        text-align: center;
    }
    &__title {
        margin-top: 60px;
        @extend %title;
        @include media("<tablet") {
            margin-top: 20px;    
        }
    }
    &__subtitle {
        @extend %subtitle;
        @include media("<tablet") {
            padding: 0 20px;
        }
    }
    &__subscribe-tagline {
        letter-spacing: 0.7px;
        font-weight:100;
        display: block;
        @include media("<tablet") {
            margin-top: 20px;
            padding: 0 40px;
        }
    }
    &__description {
        margin-top: 40px;
        @include media("<tablet") {
            margin-top: 20px;
            line-height: 1.5;
            padding: 0 30px;
        }
    }
    &__form-wrapper {
        margin: 40px auto 50px auto;
        @include media("<tablet") {
            margin: 40px auto 0px auto;
        }
    }
}