@import '../styles/typography.scss';
@import '../styles/colors.scss';

.Industries {
    width: 80%;
    margin: auto;
    margin-bottom: 75px;
    &__wrapper {
        position: relative;
        margin-bottom: 0px;
    }
    &__img {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 35px;
        display: block;
    }
    &__additional {
        text-decoration: none;
        @extend %inferior;
        color: $button-color;
    }
    &__title {
        @extend %subtitle;
        color: $light-background-text-color;
    }
    &__title, &__additional {
        display: block;
        text-align: center;
        margin: auto;
        font-weight: 900;
        letter-spacing: 1.6px;
    }
}