@import 'include-media/dist/_include-media.scss';

.LatestNews{
  width: 100%;
  position: relative;
  margin-top: 50px;
  height: 939px;
  display: flex;

  @include media("<desktop"){
    margin-top: -50px;
    height: auto
  }

  &:before{
    position: absolute;
    content: '';
    display: block;
    margin: auto;
    background: url(/static/svgs/other/blog-background.svg) 0 0 no-repeat;
    width: 100%;
    height: 100%;
    left: 0%;
    background-size: cover;

    @include media("<desktop"){
      height: 123%;
      top: -19%;
    }
  }

  &__wrapper{
    width: 100%;
    position: relative;
    transform: rotate(0deg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    top: 30px;

    @include media("<desktop") {
      flex-direction: column;
      top: 65px;

      & .LatestNews__element:nth-child(1){
        margin-top: 50px;
        margin-bottom: 0px;
      }

      & .LatestNews__element:nth-child(2){
        margin-top: 70px;
        margin-bottom: 150px;
      }
    }
  }

  &__element{
    margin-top: 150px;
    margin-bottom: 150px;

    @include media("<desktop"){
      a {
        text-align: center;
      }
    }
    @include media("<tablet") {
      width: 90%;
    }
  }

  &__element-title{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gilroy';
    padding-left: 10px;
    margin: 0px 0px;
    margin-bottom: 15px;

    @include media("<=520px") {
      font-size: 35px;
    }
  }

  & a{
    text-align: center;
  }

  & .Button{
    margin-top: 30px;
    position: relative;
  }

  &__element-content{
    width: 607px;
    height: 329px;
    background-size: contain;
    position: relative;

    & img{
      border-image: linear-gradient(120deg, #24f281, #0083ff) 1;
      border-style: solid;
      border-width: 4px;
    }

    @include media("<1350px", ">=desktop") {
      width: 480px;
      height: 260px;
    }

    @include media("<tablet") {
      width: auto;
      height: auto;
    }

    & img{
      width: 100%;
    }
  }

  .MediaCTA__card{
    background-image: none;
    color: #FFFFFF;
    padding-left: 0px;
    position: absolute;
    bottom: 10px;
    padding-left: 40px;
    width: 100%;

    @include media("<=520px") {
      padding-left: 10px;
      padding-right: 10px;
    }

    & p{
      width: 80%;

      @include media("<=520px") {
        width: 100%;
        font-size: 15px;
        margin-bottom: 0px;
      }
    }

    &--title{
      line-height: 1.5;
      margin-bottom: 25px !important;

      @include media("<=520px") {
        font-size: 30px;
      }
    }
  }
}
