@import 'include-media/dist/_include-media.scss';
@import '../styles/colors.scss';

.Links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 10%;
    &--is-header {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    &__icon {
        align-items: center;
        margin: auto 0;
        cursor: pointer;
            
        &--is-flag svg {
            width: 32px;
            height: 24px;
            margin: 10px;
        }
    }
    $icons: (
        facebook: '18px',
        youtube: '44px',
        medium: '38px',
        reddit: '36px',
        kakaostory: '17px',
        slack: '139px',
        twitter: '32px'
    );
    @each $icon, $width in $icons {
        &__icon--is-#{$icon} {
            width: #{$width};
            &:hover svg path {
                fill: $button-color;
                transition: fill 180ms ease-in;
            }
            @if $icon == 'slack' {
            &.Links__icon--is-footer {
                    width: 40px;
                }
            }
        }
    }
    @include media("<desktop") {
        display: none;
        
        &--is-active.Links--is-header {
            display: block;
            z-index: 5;
            width: 60%;
            padding: 100px 45px;
            position: absolute;
            flex-direction: column;
            top: 60vh;
            right: 0;
            left: 0;
        }
        
        &--is-footer {
            display: flex;
            margin: 10px auto 20px auto;
            width: 100%;
        }
        
    }
}

.Select {
    width: 100%;
}