@import 'include-media/dist/_include-media.scss';

.Links {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    &__icon {
        align-items: center;
        margin: auto 0;
        cursor: pointer;
    }
    $icons: (
        facebook: '18px',
        medium: '38px',
        slack: '139px',
        twitter: '32px'
    );
    @each $icon, $width in $icons {
        &__icon--is-#{$icon} {
            width: #{$width};
        }
    }
    @include media("<tablet") {
        display: none;
        &--is-footer {
            display: flex;
            margin: 10px auto 20px auto;
            width: 100%;
        }
    }
}