@import 'include-media/dist/_include-media.scss';
@import '../styles/typography.scss';

.Link{
  font-family: $base-font-family;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  height: 37px;
  display: flex;

  &__text{
    margin: 0px 0px;
    padding: 11px 27px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0s;

    @include media("<desktop") {
      color: #273469;
    }

    @include media("<tablet") {
      display: none;
    }

    &:hover{
      background-color: #ffffff;
      color: #273469;
      transition: all 0s;

      @include media("<desktop") {
       box-shadow: 0px 6px 20px 0px rgba(0, 23, 67, 0.4);
      }
    }
  }

  &--is-dark{
    color: #273469;
    & :hover{
      background-color: #2b3d77;
      color: #ffffff;
    }

    & .Link__test-alpha{
      background-color: #ffffff !important;
      border: 2px solid #273469;
      box-shadow: none;

      &:hover{
        color: #ffffff;
        background-color: #273469 !important;
        box-shadow: none;
        color: white;
      }
    }
  }

  &__test-alpha{
    background-color: #ffffff !important;
    color: #273469;
    margin-left: 10px;
    border: 2px solid #ffffff;
    padding-top: 9px;
    box-shadow: none;

    @include media("<desktop") {
      color: #273469;
      border: 2px solid #273469;
    }

    &:hover{
      color: #ffffff;
      background-color: transparent !important;
      border: 2px solid #ffffff;
      box-shadow: none;

      @include media("<desktop") {
        background-color: #2b3d77  !important;
        color: #ffffff;
      }
    }
  }
}


