@import '../styles/typography.scss';

.Link{
  font-family: $base-font-family;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  height: 37px;


  & :hover{
    background-color: #ffffff;
    color: #273469;
    box-shadow: 0px 11px 20px 0px #001743;
  }

  &__text{
    line-height: 37px;
    margin: 0px 0px;
    padding: 0px 33px;
  }

  &__dark{
    color: #273469;

    & :hover{
      background-color: #2b3d77;
      color: #ffffff;
      box-shadow: 0px 11px 20px 0px #d5d5d5;
    }
  }
}

@media only screen and (max-width: 1110px) {
   .Link__text--is-home{
    padding: 0px 25px;
   }
}

@media only screen and (max-width: 940px) {
   .Link__text--is-home{
    padding: 0px 20px;
   }
}

@media only screen and (max-width: 800px) {
   .Link{
    display: none;
   }
}
