@import '../styles/typography.scss';

.MainTitle{
  width: 365px;
  font-size: 82px;
  font-weight: 900;
  font-family: $secondary-font-family;
  color: #273469;
  line-height: 82px;
  margin: 0px 0px;
}

@media only screen and (max-width: 1140px) {
    .MainTitle {
        font-size: 61px;
        line-height: 61px;
    }
}

@media only screen and (max-width: 900px) {
    .MainTitle {
        font-size: 50px;
        line-height: 50px;
    }
}


@media only screen and (max-width: 576px) {
    .MainTitle {
        width: 156px;
        margin: 0 auto;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
}

