@import 'include-media/dist/_include-media.scss';
@import '../styles/typography.scss';

.MainTitle{
  width: 365px;
  font-size: 82px;
  font-weight: 900;
  font-family: $secondary-font-family;
  color: #273469;
  line-height: 82px;
  margin: 0px 0px;
  width: 230px;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  margin: 0 auto;

    @include media(">520px", "<800px") {
        font-size: 47px;
        line-height: 47px;
    }

    @include media(">=800px", "<1024px") {
        font-size: 50px;
        line-height: 50px;
    }

    @include media(">=1024px", "<1140px") {
        font-size: 61px;
        line-height: 61px;
        width: 300px;
        text-align: left;
        margin: 0px 0px;
    }

    @include media(">=1140px") {
        font-size: 82px;
        line-height: 82px;
        width: 400px;
        text-align: left;
        margin: 0px 0px;
    }

      &--is-video-open{
        opacity: 0;
        visibility: hidden;
        color: transparent;
        text-shadow: 0 0 80px rgba(39, 52, 105, 0.5);
        transition: opacity 0.3s, visibility 0.3s;
      }
}
