@import '../styles/typography.scss';

.MainTitle{
  width: 365px;
  height: 166px;
  font-size: 82px;
  font-weight: bolder;
  font-family: $secondary-font-family;
  color: #273469;
  line-height: 82px;
  margin: 0px 0px;
}
