@import 'include-media/dist/_include-media.scss';
@import 'select/mixins.scss';

$iconWidth: 300px;

.MediaCTA {

  &__card {
    @include card();
    text-align: center;
    color: #273469;

    background-image: url('/static/svgs/assets/person.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140px;

    &-title {
      @include cardTitle();
      margin-bottom: 200px;
      &:after {
        margin: 0 auto;
      }
    }

    .Button {
      margin-top: 20px;
      margin-right: 20px;
    }
  }

  &__card.pull-right,
  &__card.pull-left {
    width: auto;
    .MediaCTA__card-title {
      margin-bottom: 33px;
      &:after {
        margin-top: 10px;
      }
    }
  }

  &__card.pull-left {
    text-align: left;
    background-position: left;
    padding-left: $iconWidth;
   .MediaCTA__card-title {
      &:after {
        margin-left: 10px;
      }
    }
  }

  &__card.pull-right {
    text-align: right;
    background-position: right;
    padding-right: $iconWidth;
   .MediaCTA__card-title {
      &:after {
        margin-right: 10px;
      }
    }
  }

  &__card.dark.discord {
    background-image: url('/static/svgs/icons/discord-logo.svg'), url('/static/svgs/assets/mybit-background.svg'), linear-gradient(136deg, #001358, #125ac4);
    background-size: 270px, 30%, 100%;
    background-position: right 10px center, center, center;
  }

  &__card.merchandice {
    background-image: url('/static/svgs/assets/merchandice.svg');
    background-size: 230px;
  }

  &__card.community {
    background-image: url('/static/svgs/assets/person.svg'), url('/static/svgs/assets/person.svg'), url('/static/svgs/assets/person.svg');
    background-size: 120px, 100px, 100px;
    background-position: 65px bottom, 0px bottom, 150px bottom;
  }

  &__card.dark {
    @include darkBg();
    color: #fff;
    padding-top: 1px;
    padding-bottom: 30px;
    padding-left: 120px;
    background-position: 50% 0%;
    background-size: 20%, 100%;
  }

}
