@import '../styles/typography.scss';
@import '../styles/colors.scss';
@import 'include-media/dist/_include-media.scss';

.Nav {
    display: flex;
    margin: 0 4em;
    @include media('<tablet') {
        margin: 0;
    }

    &__list {
        width: 100%;
        margin: 15px auto;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        @include media('<tablet') {
            margin: 5px auto;
        }
    }
    &__listItem {
        @extend %navigation;
        @extend %capitalize;
        &:hover {
            color: $button-color;
            transition: color 180ms ease-in;
        }
        cursor: pointer;
        @include media('<tablet') {
            padding: 2px 5px;
        }
    }
}
