@import 'include-media/dist/_include-media.scss';

.Newsletter{

  margin-bottom: 25px;

  &__wrapper{
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 35px;
    border-bottom: 1px solid #095186;

    @include media('>phone') {
      padding: 0px 0px;
      border-bottom: 0px;
    }
  }

  &__text{
    font-size: 13px !important;
    font-weight: 500 !important;
  }

  &__form{
    display: flex;
  }

  &__input{
    height: 46px;
    border: none;
    width: calc(100% - 50px);
    margin: 0px 0px;
    border-radius: 0px;
    font-size: 15px;
    box-shadow: none;
    max-width: 250px;
    @include media('>phone') {
      width: calc(100% - 80px);
    }

    &:focus{
      outline: none;
    }
  }

  &__status-messages-wrapper{
    position: relative;
  }

  &__message{
    position: absolute;
    font-size: 13px !important;
    opacity: 0;
    line-height: 1 !important;
    margin-top: 10px !important;

    &-active{
      opacity: 1;
      transition: all 0.5s;
      animation: moveUp 0.25s
    }
  }
}

.Newsletter__message-subscribing:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);
    }
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
    }
}

@keyframes moveUp{
  0% {
    top:30px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
