.News {
    width: 80%;
    margin: auto;
    margin-top: -15px;
    &__press-release {
        &-img {
            width: 100%;
            padding: 10px 50px 30px 50px;
        }
        &-img--is-coinjournal, &-img--is-blockchainnews, &-img--is-express {
            padding: 0 50px;
            margin-top: -10px;
        }
    }
}