@import '../styles/typography.scss';
@import '../styles/colors.scss';

.Offers {
    width: 80%;
    margin: auto;
    margin-bottom: 75px;
    &__wrapper {
        position: relative;
        margin-bottom: 0px;
        
    }
    &__img {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 35px;
        display: block;
    }
    &__description, &__title {
        display: block;
        color: $light-background-text-color;
        text-align: center;
        margin: auto;
    }
    &__description {
        width: 80%;
    }
    &__title {
        @extend %superior;
        font-weight: 900;
        letter-spacing: 1.6px;
        margin-bottom: 20px;
    }
    &__information {
        margin-top: -50px;
    }
}