.Paragraph{
  padding-top: 27px;
  width: 460px;
  height: 84px;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 28px;

  &__text-header{
    padding-top: 19px;
    display: block;
  }
  &__text{
    color: #273469;
    margin: 0px;
  }
}

@media only screen and (max-width: 1140px) {
    .Paragraph {
        font-size: 14px;
        line-height: 26px;
        width: 440px;
    }
}

@media only screen and (max-width: 900px) {
    .Paragraph {
        font-size: 14px;
        line-height: 26px;
        width: 350px;
    }
}

@media only screen and (max-width: 576px) {
    .Paragraph {
        width: 100%;
        text-align: center;
        font-size: 13px;
        line-height: 19px;

        &__text-header{
          width: 60%;
          margin: 0 auto;
        }

        &__text{
          width: 70%;
          margin: 0 auto;
          text-align: inherit;
        }
    }
}
