@import '../styles/colors.scss';

.Partners {
    width: 70%;
    margin: auto;
    &__wrapper {
        position: relative;
        margin-bottom: 35px;
    }
    &__img {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 35px;
        display: block;
        &--is-ei {
            width: 50%;
        }
        &--is-arabco {
            width: 130%;
        }
    }
    &__area {
        position: absolute;
        bottom: 0;
        display: block;
        color: $light-background-text-color;
        text-align: center;
        margin: auto;
        left: 0;
        right: 0;
        letter-spacing: 1.6px;
    }
}