@import '../styles/typography.scss';
@import '../styles/colors.scss';

.Section {
    text-align: center;
    width: 100%;
    &__title {
        @extend %headline;
        &--is-light {
            font-weight: 100;
        }
        &--is-white {
            color: $light-background-text-color;
        }
    }
}