@import 'include-media/dist/_include-media.scss';
@import '../styles/typography.scss';
@import '../styles/colors.scss';

$STATEMENT_MOBILE_BACKGROUND: '/static/svgs/other/landing-page-background.svg';
$STATEMENT_TABLET_BACKGROUND:
'/static/svgs/other/landing-page-background-tablet.svg';
$STATEMENT_ICONS: access community products staking investors asset-manager;


@mixin statement_background_generator($bg) {
  background: url(#{$bg});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin statement_background_layout_generator() {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  background-size: cover;
  @include statement_background_generator($STATEMENT_TABLET_BACKGROUND);
  top: 0px;
}


.Statement {
  padding: 5%;
  position: relative;
  color: $mybit-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--is-centered {
    justify-content: center;
    text-align: center;

    &:nth-child(3){
      @include media('<desktop') {
        margin-bottom: 200px;
        margin-top: 50px;
      }

      @include media('<610px') {
        margin-bottom: 220px;
      }
    }
  }

  &__paragraph {
    @extend %mybit-paragraph;
    line-height: 2;
    max-width: 400px;
    font-weight: 900;
  }

  &--is-light {
    color: $mybit-secondary-text-color;

    & p{
      font-weight: 500;
      max-width: 500px;
    }
  }

  &__title, &__paragraph {
    margin: 0;
    width: 100%;
  }

  &__title {
    @extend %mybit-title;
  }

  &__bit {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

    & .Bit{
      left: 50%;
      position: relative;
      transform: translate(-50%,0%) rotate(45deg);
    }
  }

  &__button {
    margin-top: 20px;
  }

  @each $icon in $STATEMENT_ICONS {
    &.#{$icon}:before {
      position: absolute;
      content: '';
      display: block;
      margin: auto;
      width: 75px;
      height: 75px;
      top: -70px;
      background: url('/static/svgs/icons/#{$icon}.svg') no-repeat center;
      background-size: contain;
    }
  }
}

.Statements {
  display: flex;

  &--is-landing-page-tertiary,
  &--is-landing-page-secondary {
    margin: 100px auto;

    .Statement {
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 100px;
      }
    }
  }
  &--is-landing-page-secondary{
    margin: auto;
    position: relative;
    height: 100%;
    &:before {
      position: absolute;
      content: '';
      display: block;
      margin: auto;
      background: linear-gradient(5deg, #ffffff69 7%, #125ac4 54%, #001358 88%, #fff 89%);
      width: 145%;
      height: 175%;
      top: -240px;
    }
  }

  &--is-landing-page-tertiary {
    margin: auto;
    position: relative;
    height: 100%;
    &:before {
      position: absolute;
      content: '';
      display: block;
      margin: auto;
      background: linear-gradient(3deg, #125ac4 1%, #001358 80%, #fff 80%);
      width: 100%;
      height: 155%;
      top: -50%;

      @include media('<desktop',) {
        height: 110%;
        top: -25%;
      }

    }
  }

  &--is-landing-page {
    margin: auto;
    position: relative;
    height: 1208px;

    &:before {
      @include statement_background_layout_generator();
    }

    .Statement {
      &:nth-child(1) {
        top: 280px;
        margin-top: 0%;
        margin-bottom: 0%;
      }
      &:nth-child(2) {
        margin: 0 auto;
        top: 468px;
      }
      @include media('>phone', '<=tablet') {
        width: 80%;
        margin: auto;
      }

      @include media('>tablet','<=desktop') {
        width: 50%;
        margin: auto;
      }
    }
  }

  &--is-landing-page-secondary{
    @include media('>desktop') {
      margin: auto;
      position: relative;
      height: 660px;
      margin-top: 140px;
      overflow: visible;
    }
  }
}
