@import '../styles/typography.scss';

.VideoPlayer{
	position: relative;
	padding-top: 40px;
	padding-left: 50px;

	&__button{
		width: 51px;
		height: 51px;
		border-radius: 50%;
		background-color: #ffffff;
		box-shadow: 0px 0px 16px 2px #69FFB3;
		display: inline-block;
		overflow: hidden;
		position: relative;
		cursor: pointer;
	}

	&__text{
		position: relative;
		display: inline-block;
		margin: 0px 0px;
		font-size: 13px;
		color: #ffffff;
	    top: -21px;
	    padding-left: 17px;
	}

	&__button-arrow-circle{
		height: 30px;
	    width: 30px;
	    border-radius: 50%;
	    position: absolute;
	    background-color: #ffffff;
	    top: 10px;
	    left: -6px;
        z-index: 2;
	}

	&__button-arrow-square{
		height: 17px;
		width: 17px;
		background-color: #fb3448;
		top: 17px;
		transform: rotate(45deg);
		left: 16px;
		position: absolute;
	}
}