@import 'include-media/dist/_include-media.scss';

.VideoPlayer{
  font-family: 'Roboto';
  max-width: max-content;
  margin-left: 70px;
  position: absolute;
  top: 25.2%;
  margin-top: -25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 61px;
  width: 270px;
  z-index: 5;

  @include media("<desktop") {
     flex-direction: column;
  }

  &__text{
    position: relative;
    display: inline-block;
    font-size: 13px;
    color: #ffffff;
    padding-left: 13px;

    @include media("<desktop") {
       display: none;
    }
  }

  &__text-mobile{
     color: #273469;
     font-weight: bold;
     padding-left: 0px;
     display: none;
     margin: 0px;
     margin-top: 5px;

     @include media("<desktop") {
      display: block;
    }
  }

  &--is-video-open{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    transition-delay: 0.1s;
  }

  &__button{
    @include media("<desktop") {
      display: none;
    }
  }

  &__button-mobile{
    display: none;
    width: 40px;

    @include media("<desktop") {
      display: block;
    }
  }
}


@media only screen and (max-width: 1023px) {
  .VideoPlayer {
    padding-left: 0px;
    position: fixed;
    height: auto;
    top: 466px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,0%);

    @include media("<=767px") {
      top: 436px;
    }

    @include media("<=388px") {
      top: 460px;
    }
  }
}
