@import 'include-media/dist/_include-media.scss';

.Wallets {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  padding: 0px 0px;
  justify-content: center;

  &__card {
    display: block;
    position: relative;
    width: 210px;
    height: 180px;
    text-align: center;
    margin-bottom: 60px;

    & span{
      position: relative;
      top: 170px;
    }
  }

  &--mac,
  &--windows,
  &--myetherwallet {
    width: 300px;
  }

  &--android {
    background-image: url('/static/svgs/other/android.svg'), url('/static/svgs/other/mobile.svg');
    background-position: 50% 20%, top;
    background-size: 50px, 80px;
  }

  &--ios {
    background: url('/static/svgs/other/apple.svg'), url('/static/svgs/other/mobile.svg');
    background-position: top;
    background-position: 50% 20%, top;
    background-size: 50px, 80px;
  }

  &--mac {
    background: url('/static/svgs/other/apple.svg'), url('/static/svgs/other/computer.svg');
    background-position: 50% 20%, top;
    background-size: 50px, 210px;
  }

  &--windows {
    background: url('/static/svgs/other/windows.svg'), url('/static/svgs/other/computer.svg');
    background-position: 50% 20%, top;
    background-size: 55px, 210px;
  }

  &--myetherwallet {
    background: url('/static/svgs/other/myetherwallet.svg'), url('/static/svgs/other/computer.svg');
    background-position: 50% 20%, top;
    background-size: 60px, 210px;
  }

  &--android,
  &--ios,
  &--mac,
  &--windows,
  &--myetherwallet {
    background-repeat: no-repeat;
  }

}
