@import 'include-media/dist/_include-media.scss';

.Wallets {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  padding: 0px 0px;
  justify-content: space-evenly;

  &__card {
    display: block;
    position: relative;
    height: 180px;
    text-align: center;
    margin-bottom: 60px;

    & span{
      position: relative;
      top: 170px;
    }
  }

  &--android {
    background-image: url('/static/svgs/other/android.svg'), url('/static/svgs/other/mobile.svg');
    background-position: center;
    background-size: 20px, 45px;
  }

  &--ios {
    background: url('/static/svgs/other/apple.svg'), url('/static/svgs/other/mobile.svg');
    background-position: center;
    background-size: 20px, 45px;
  }

  &--mac {
    background: url('/static/svgs/other/apple.svg'), url('/static/svgs/other/computer.svg');
    background-position: center, center;
    background-size: 25px, 140px;
  }

  &--windows {
    background: url('/static/svgs/other/windows.svg'), url('/static/svgs/other/computer.svg');
    background-position: center, center;
    background-size: 25px, 140px;
  }

  &--myetherwallet {
    background: url('/static/svgs/other/myetherwallet.svg'), url('/static/svgs/other/computer.svg');
    background-position: center, center;
    background-size: 25px, 140px;
  }

  &--android,
  &--ios,
  &--mac,
  &--windows,
  &--myetherwallet {
    background-repeat: no-repeat;
  }

}
