@import 'include-media/dist/_include-media.scss';

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Roboto';
  font-size: 13px;
  color: #fff;
  padding: 200px 0px 0px;
  background: url(/static/svgs/other/footer.svg) 0 0 no-repeat;
  background-size: cover;
  width: 100%;

  @include media('>phone'){
    padding: 200px 50px 50px;
  }

  @include media('<desktop') {
    padding-top: 165px;
    flex-direction: column;

    & :nth-child(2) { order: 1; }
    & :nth-child(3) { order: 0; }
    & :nth-child(4) { order: 2; }
    & :nth-child(5) { order: 3; }
    & :nth-child(6) { order: 4; }
    & :nth-child(7) { order: 5; }
  }

  &__section {
    flex-grow: 1;
    flex-basis: 0;
    padding-right: 50px;
    padding-left: 50px;

    @include media('>phone'){
      padding:0px 0px;
    }

    p {
      font-size: 16px;
      line-height: 1.75;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
    }
  }

  &__title {
    line-height: 2.5;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__link {
    text-decoration: none;
    line-height: 2.15;
    color: #fff;
    &--is-inactive {
      color: #aaa;
    }

    &--is-underlined{
      text-decoration: underline;
    }
  }

  &__copyright {

    margin-top: 30px;
    order: 10;
    
    @include media('>tablet') {
     display: block;
     width: 100%;
     text-align: center;
    }
  }

  &__section-newsletter{
    padding: 0px 0px;

    .Footer__title{
      padding: 0px 50px;
    }

    @include media('>phone'){

      .Footer__title{
        padding: 0px 0px;
      }
    }
  }
}
