@import 'include-media/dist/_include-media.scss';

//temporary fix to preload images
a:nth-child(1) { background: url("/static/svgs/social/telegram.svg") no-repeat -9999px -9999px; }
a:nth-child(2) { background: url("/static/svgs/social/medium.svg") no-repeat -9999px -9999px; }
a:nth-child(3) { background: url("/static/svgs/social/facebook.svg") no-repeat -9999px -9999px; }
a:nth-child(4) { background: url("/static/svgs/social/reddit.svg") no-repeat -9999px -9999px; }
a:nth-child(5) { background: url("/static/svgs/social/twitter.svg") no-repeat -9999px -9999px; }

a:nth-child(6) { background: url("/static/svgs/social/telegram-hover.svg") no-repeat -9999px -9999px; }
a:nth-child(7) { background: url("/static/svgs/social/medium-hover.svg") no-repeat -9999px -9999px; }
a:nth-child(8) { background: url("/static/svgs/social/facebook-hover.svg") no-repeat -9999px -9999px; }
a:nth-child(9) { background: url("/static/svgs/social/reddit-hover.svg") no-repeat -9999px -9999px; }
a:nth-child(10) { background: url("/static/svgs/social/twitter-hover.svg") no-repeat -9999px -9999px; }


.Footer {
  font-family: 'Roboto';
  font-size: 13px;
  color: #fff;
  padding: 40px 40px 20px;
  background-image: linear-gradient(104deg, #001358, #125ac4);
  background-size: cover;
  margin-top: 20px;

  @include media('<desktop') {
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
    margin-top: 40px;
  }

  @include media('<tablet') {
    padding: 20px 20px 10px;
  }

  a:hover{
    color: rgb(24, 144, 255);
  }

  a{
    width: max-content;
    font-size: 16px;
    line-height: 1.75;
  }

  li{
    width: max-content;
  }

  &__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;


    @include media('<desktop'){
     flex-direction: column;
     align-items: center;
    }
  }

  p{
    margin: 0px 0px;
  }

  &__section {
    padding-right: 50px;
    padding-left: 50px;

    @include media('>phone'){
      padding:0px 0px;
    }

    @include media('<tablet') {
      padding: 0px 0px;
    }

    p {
      font-size: 16px;
      line-height: 1.75;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
    }
  }

  &__section:nth-child(7){
    text-align: right;

    @include media('<desktop'){
      text-align: center;
      margin-top: 10px;

      img{
        display: none;
      }
    }
  }

  &__section:nth-child(3),
  &__section:nth-child(4),
  &__section:nth-child(5),
  &__section:nth-child(6){
    @include media('<desktop'){
      display: none;
    }
  }


  &__title {
    line-height: 28px;
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 2px;
    width: max-content;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin-top: 0px;
  }

  &__link {
    text-decoration: none;
    line-height: 2.15;
    color: #fff;
    &--is-inactive {
      color: #aaa;
    }

    &--is-underlined{
      text-decoration: underline;
    }
  }

  &__copyright {

    margin-top: 30px;
    order: 10;
    font-size: 16px;

    @include media('>tablet') {
     display: block;
     width: 100%;
     text-align: center;
    }
  }

  &__section-newsletter{
    padding: 0px 0px;

    .Footer__title{
      padding: 0px 50px;
    }

    @include media('>phone'){

      .Footer__title{
        padding: 0px 0px;
      }
    }
  }

  &__icons{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;

    @include media('<desktop') {
      flex-direction: row;
      top: 0px;
    }

    a{
      margin: 10px 10px;
    }

    div{
      width: 30px;
      height: 30px;
      margin: 0 auto;
    }

    $icons: telegram medium facebook reddit twitter;

    @each $icon in $icons {
      .Footer__icons-is-#{$icon} {
        background: url('/static/svgs/social/#{$icon}.svg') no-repeat center;
        background-size: 30px;
      }
      .Footer__icons-is-#{$icon}:hover {
        background: url('/static/svgs/social/#{$icon}-hover.svg') no-repeat center;
        background-size: 30px;
      }
    }

  }
}
