@import 'include-media/dist/_include-media.scss';

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Roboto';
  font-size: 13px;
  color: #fff;
  padding: 200px 50px 50px;
  background: linear-gradient(3deg, #125ac4 1%, #001358 80%, #fff 80%);

  @include media('<desktop') {
    padding-top: 350px;
    flex-direction: column;
  }

  &__section {
    flex-grow: 1;
    flex-basis: 0;
    p {
      font-size: 16px;
      line-height: 1.75;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
    }
  }

  &__title {
    line-height: 2.5;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__link {
    text-decoration: none;
    line-height: 2.15;
    color: #fff;
    &--is-inactive {
      color: #aaa;
    }

    &--is-underlined{
      text-decoration: underline;
    }
  }

  &__copyright {

    margin-top: 30px;

    @include media('>tablet') {
     display: block;
     width: 100%;
     text-align: center;
    }
  }

}
