@import 'include-media/dist/_include-media.scss';

.About{
  padding: 0px 5%;

  .MediaCTA__card {
    background-image: none;
    padding: 0px;
  }

  &__image{
    padding: 0px 0px !important;
    text-align: center;

    img{
      position: relative;
      max-width: 200px;
    }

  }

  &__reasons{
    font-family: 'Roboto';
    margin-top: 40px;
    padding-left: 100px;

    @include media("<=800px") {
      padding-left: 20px;
    }

    &-group{
      margin-bottom: 30px;
      position: relative;
      color: #273469;


      &:before{
        display: block;
        position: relative;
        content: '';
        width: 10px;
        height: 10px;
        background-color: #fb3448;
        -webkit-transform: translate(-50%, 0%) rotate(45deg);
        transform: translate(-50%, 0%) rotate(45deg);
        left: 10px;
        top: 15px;
      }

      & p{
        margin-top: 10px;
        padding-left: 50px;
      }

      & b{
        padding-left: 50px;
      }
    }
  }

  &__platform img{
    top: 20px;
  }

  &__partners img,
  &__managers img,
  &__investors img{
    top: 50px;
  }

    @include media("<=800px") {
      img{
        top: 0px;
      }
    }
}
