body{
  margin: 0px;
}

.AccessLayer{

  &__media{
    padding-top: 50px;
  }

  &__img-key{
    width: 100%;
    max-width: 119px;
  }

  &__exchanges{
    padding-top: 50px;
  }

  &__text{
    font-family: 'Roboto';
    font-size: 16px;
    color: #273469;
    display: block;
    line-height: 1.75;
  }

  &__exchanges-logos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    & a:nth-child(4){
      & img{
        width: 160px;
        height: auto;
      }
    }

    & a:nth-child(5){
      & img{
        width: 180px;
        height: auto;
      }
    }

  }

  &__exchanges-img{
    height: 70px;
    padding-bottom: 20px;
    margin-right: 40px;
  }

  & .MediaCTA__card{
    background-image: none;
    padding: 0px;
    width: 100%;
  }

  & .Media__card{
    width: 100%;
    padding: 0px 0px;
  }
}

@media only screen and (max-width: 800px) {
  .AccessLayer{
    text-align: center;

    &__media{
      padding-top: 0px;
    }

    & .MediaCTA__card{
      text-align: center;
    }
  }

  .AccessLayer .Media__card{
    padding: 0px 0px;
  }

    & .MediaCTA__card{
    background-image: none;
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  .AccessLayer .MediaCTA__card .MediaCTA__card--title:after{
    left: 50%;
    transform: translate(-50%,0%) rotate(45deg);
    margin: 0px
  }

}
