body{
  margin: 0px;
}

.AssetManager{
  max-width: 1450px;
  margin: 0 auto;

  &__media{
    padding-top: 50px;
  }

  &__img-toolbox{
    width: 100%;
    max-width: 228px;
  }

  & .MediaCTA__card{
    background-image: none;
    padding: 0px;
  }

  & .Button__wrapper{
    position: relative;
    top: 20px;
  }
}


@media only screen and (max-width: 800px) {
  .AssetManager{

    &__media{
      padding-top: 0px;
    }

    & .MediaCTA__card{
      text-align: center;
    }
  }

  .AssetManager .MediaCTA__card .MediaCTA__card--title:after{
    left: 50%;
    transform: translate(-50%,0%) rotate(45deg);
    margin: 0px
  }

}
