$white: #fff;
$teal: #3fd0ae;
$twilight: #5a5aa0;
$dark-grey-blue: #3b3766;

$text-color: $white;
$button-color: $teal;
$light-background-color: $twilight;
$section-background-color: $white;
$light-background-text-color: $dark-grey-blue;