@import 'normalize.css';
@import 'flexboxgrid-sass/dist/flexboxgrid.css';
@import './colors.scss';
@import './typography.scss';
@import './forms.scss';

*, *:after, *:before {
  box-sizing: border-box;
}

html {
    font-family: $base-font-family;
    width: 100%;
    overflow-x: hidden;
}

body { 
    width: 100%; 
    background-image: radial-gradient(circle at 52% 50%, #6d68a0, #3b3766);
    line-height: 1.2;
    color: $text-color;
}

video {
    width: 100%;
    height: 100%;
}