@import 'normalize.css';
@import 'flexboxgrid-sass/dist/flexboxgrid.css';
@import './colors.scss';
@import './typography.scss';
@import './forms.scss';

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-y: overlay;
}

body { 
    background-color: $light-background-text-color;
    line-height: 1.2;
    color: $text-color;
}

video {
    width: 100%;
    height: 100%;
}