@import 'include-media/dist/_include-media.scss';

.Products{

  &__apps{
    padding-top: 50px;
  }

  &__img-mobile{
    width: 70px;
    position: relative;
    top: 20px;
    left: -10px;
  }

  &__img-invest{
    width: 90px;
    position: relative;
    top: 20px;
    left: -10px;
  }
  & .Highlight__wrapper--is-rectangle{
    width: 34%;
  }

  &__apps .MediaCTA__card{
    background-image: none;
    padding: 0px;
    width: 100%;
  }

  &__developer .MediaCTA__card--title:after{
    left: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
    position: absolute;
  }

  &__btn-test-alpha{
    text-align: center;
    width: max-content;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .Products{
    &__img-mobile{
      width: 80px;
      top: 0px;
      left: 0px;
    }

    &__img-invest{
      width: 100px;
      top: 0px;
      left: 0px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .Products{

    & .Highlight__wrapper--is-rectangle{
      width: 75%;
      margin-right: 0px;
    }

    & .MediaCTA__card{
      text-align: center;
    }
  }

  .Products .MediaCTA__card .MediaCTA__card--title:after{
    left: 50%;
    transform: translate(-50%,0%) rotate(45deg);
    margin: 0px
  }
}
