@import 'include-media/dist/_include-media.scss';

@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/gilroy-bold.otf') format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/gilroy-extrabold.otf') format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/gilroy-light.otf') format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/gilroy-regular.otf') format("opentype");
  font-weight: 400;
}

$base-font-size: 16px;
$base-font-family: 'Roboto';
$secondary-font-family: 'Gilroy';
$base-font-weight: 100;

%small, %navigation, %forms {
    font-size: $base-font-size;
    font-weight: 100;
}

%paragraph {
    font-size: $base-font-size * 1.5;
    font-weight: 100;
    @include media("<tablet") {
        font-size: $base-font-size;
    }
}

%title, %headline {
    letter-spacing: 1.4px;
    font-weight: bold;
}

%title {
    font-size: $base-font-size * 4;
    @include media("<tablet") {
        font-size: $base-font-size * 2;
    }
}

%headline {
    font-size: $base-font-size * 3;
    @include media("<tablet") {
        font-size: $base-font-size * 1.5;
    }
}

%superior {
    font-size: $base-font-size * 2.25;
    @include media("<tablet") {
        font-size: $base-font-size * 1.125;
    }
}
%inferior {
    font-size: $base-font-size * 1.25;
    @include media("<tablet") {
        font-size: $base-font-size * 1;
    }
}



%subtitle {
    font-size: $base-font-size * 1.5;
    font-weight: 100;
    @include media("<tablet") {
        font-size: $base-font-size * 1.4;
    }
}

%capitalize {
    text-transform: capitalize;
}

%uppercase {
    text-transform: uppercase;
}
